header {
background: white;
} 

div#cbmap {
    padding-top: 110px;
}

header .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-default, section.success a:hover {
    background-color:#EB593C;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #ffffff;
  background-color: #C3543E;
  text-decoration: overline;
}

a:hover, .navbar-default, .navbar-brand:hover, .navbar-default, .navbar-brand:focus {
  color:white !important;
  text-decoration:underline !important;
}

.btn{
  color:white !important;
}

/* media partners */

#partners li {
  list-style:none;
  margin:10px;
}

#partners ul {
  padding:0px
}

#partners li img {
  max-height:40px;
}

p {
  font-size:    20px !important;
  line-height: 1.58 !important;
  font-family: Georgia;
}

section {
    padding:50px;
}